<div id="reporter" style="padding:10px;">
  <h1 class="text-center">Reporte</h1>
  <table class="reporterHeader">
    <tr>
      <td style="vertical-align:top;">
        <div class="filterBox">
          <div class="filter form-group">
            <label for="form">Formulario</label>
            <select v-model="selectedForm" class="form-control">
              <option v-for="(form,formIndex) in forms" :value="formIndex">{{form.name}}</option>
            </select>
          </div>
          <div class="filter form-group">
            <div class="columns">
              <label>Columnas: </label>
              <span class="columnCheck" v-for="(column,columnIndex) in columns">
                <label v-html="column.label"></label>
                <input type="checkbox" :value="columnIndex" v-model="checkedColumns" >
              </span>
            </div>
          </div>
          <div class="filter form-group">
            <h2>Gr&aacute;fica:</h2>
            <div>
              <label for="graphType">Tipo de gr&aacute;fica:</label>
              <select v-model="graphTypeColumn" name="graphType" class="form-control">
                <option value="bar">Barras</option>
                <option value="line">L&iacute;nea</option>
                <option value="hbar">Barras Horizontales</option>
                <option value="pie">Torta</option>
                <option value="donut">Donut</option>
                <option value="rose">Rosa</option>
                <option value="radar">Radar</option>
              </select>
            </div>
            <div>
              <label for="graphData">Valor a graficar:</label>
              <select v-model="graphDataColumn" name="graphData" class="form-control">
                <option v-for="option in graphDataSelectValues" :value="option.id">{{option.label}}</option>
              </select>
            </div>
            <div>
              <label for="graphLabel">Eje:</label>
              <select v-model="graphLabelColumn" name="graphLabel" class="form-control">
                <option v-for="option in tableColumns" :value="option.id">{{option.label}}</option>
              </select>
            </div>
          </div>
          <div class="filter form-group">
            <button @click="downloadCSV" class="btn ajax-button btn-dark btn-lg btn-block">
              <span class="button-text">CSV</span>
            </button>
          </div>
          <div class="filter form-group">
            <button @click="downloadPDF" class="btn ajax-button btn-dark btn-lg btn-block">
              <span class="button-text">PDF</span>
            </button>
          </div>
        </div>
      </td>
      <td style="vertical-align:top;">
        <div class="filterBox">
          <div class="filter form-group" v-for="(column,columnIndex) in tableColumns">
            <label v-if="!column.photo" v-html="column.label+': '"></label>
            <select v-if="!column.photo" v-model="column.filterType" @change="updateRecords">
              <option value=""></option>
              <option v-if="!column.date" value="equals">Igual a</option>
              <option v-if="!column.date" value="contains">Contiene</option>
              <option v-if="column.date" value="before">Antes de</option>
              <option v-if="column.date" value="after">Despu&eacute;s de</option>
              <option v-if="column.numeric" value="lessThan">Menor que</option>
              <option v-if="column.date||column.numeric" value="between">Entre</option>
              <option v-if="column.numeric" value="greaterThan">Mayor que</option>
              <option v-if="column.numeric" value="lessOrEqualsThan">Menor o igual que</option>
              <option v-if="column.numeric" value="greaterOrEqualsThan">Mayor o igual que</option>
              <option v-if="!column.date" value="notEquals">Diferente de</option>
            </select>
            <input v-if="!column.photo&&column.values.length==0&&column.inputType!='gender'&&!column.date" type="text" v-model="column.filter" @change="updateRecords"/>
            <input v-if="!column.date&&column.filterType=='between'" type="text" v-model="column.secondFilter" @change="updateRecords"/>
            <datepicker v-if="column.date" v-model="column.filter" format="yyyy-MM-dd"></datepicker>
            <datepicker v-if="column.date&&column.filterType=='between'" v-model="column.secondFilter" format="yyyy-MM-dd"></datepicker>
            <select v-if="column.values.length>0" v-model="column.filter" @change="updateRecords">
              <option value=""></option>
              <option v-for="(value,valuesIndex) in values" :value="value">{{value}}</option>
            </select>
            <select v-if="column.inputType=='gender'" v-model="column.filter" @change="updateRecords">
              <option value=""></option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
          </div>
        </div>
      </td>
      <td style="padding:20px;width: 640px;">
        <canvas style="margin-left:auto;margin-right:auto;" id="reportGraph" width="600" height="250">[No canvas support]</canvas>
      </td>
    </tr>
  </table>
  <div>
    <strong>Registros listados: {{tableRecords.length}}</strong>
  </div>
  <div id="tableReport" class="tableContainer">
    <table>
      <thead>
        <tr>
          <th v-for="(column,columnIndex) in tableColumns" v-html="column.label"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(record,recordIndex) in tableRecords">
          <td v-for="(column,columnIndex) in record.columns">
            <span>&nbsp;</span>
            <span v-if="tableColumns[columnIndex].inputType!='photo'">{{column.value}}</span>
            <img :src="column.value" v-if="tableColumns[columnIndex].inputType=='photo'">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>