<div class="menuColumnContainer">
  <%- partial('../menu.ejs') %>
  <div class="right">
    <div id="editFormFooter">
      <div class="container">
        <h1 class="text-center">Editar pie de formulario - <%= form.name %></h1>
        <div class="editFormFooter-form">
          <ajax-form action="editFormFooter" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">
            <div class="form-group">
              <label for="footer">Contenido</label>
              <textarea name="footer" id="footerTextarea"><%= form.footer %></textarea>
            </div>
            <div class="form-group">
              <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Guardar</ajax-button>
            </div>
          </ajax-form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>