<div class="menuColumnContainer" id="editFormElements">
  <%- partial('../menu.ejs') %>
  <div class="right">
    <div class="container">
      <h1 class="text-center"><%= form.name %></h1>
      <h1 class="text-center">Gesti&oacute;n de elementos</h1>
      <div>
        <div class="schema-block schema-header">
          <div class="schema-block-head">
            <h3 class="schema-block-title">
              <a href="/forms/elements/header/<%= form.id %>/">Cabecera del formulario</a>
            </h3>
          </div>
          <div class="schema-block-content in" id="schema-header-content"><%- form.header %></div>
        </div>
        <div class="schema-block schema-header">
          <div class="schema-block-head">
            <h3 class="schema-block-title">
              <a>Cuerpo del formulario</a>
              <a href="/forms/elements/sections/new/<%= form.id %>/">Agregar secci&oacute;n</a>
            </h3>
          </div>
          <div class="schema-block-content in" id="schema-header-content">
            <div>
              <div v-for="(bodySection,bodySectionIndex) in formData.bodySections">
                <div class="survey-body-section">
                  <h4 class="schema-section-title">
                    <a>
                      <span class="schema-section-index">#{{bodySection.order}} {{bodySection.name}}</span>
                    </a>
                    <a :href="'/forms/elements/sections/inputs/new/'+formData.id+'/'+bodySection.id">Agregar pregunta</a>
                  </h4>
                </div>
                <div>
                  <div class="schema-section-help help help-block">{{bodySection.description}}</div>
                  <div class="">
                    <div v-for="(input,inputIndex) in bodySection.inputs" class="">
                      <div>
                        <img v-if="input.order>1" src="/images/sort_up.svg" class="img_button" @click="moveUp(bodySectionIndex,inputIndex)" />
                        <img v-if="input.order<bodySection.inputs.length" src="/images/sort_down.svg" class="img_button" @click="moveDown(bodySectionIndex,inputIndex)" />
                        <img src="/images/delete.svg" class="img_button" @click="borrar(bodySectionIndex,inputIndex)" />
                      </div>
                      <label>{{input.label}}</label>
                      <!-- VUE BACKEND ELEMENT COMPONENT START -->
                      <input v-if="input.inputType=='text'||input.inputType=='number'||input.inputType=='address'" type="text">
                      <textarea v-if="input.inputType=='textarea'"></textarea>
                      <input v-if="input.inputType=='e-mail'" type="text" placeholder="correo@servidor.com">
                      <money v-if="input.inputType=='money'" v-model="price" v-bind="money"></money>
                      <datepicker v-if="input.inputType=='date'"></datepicker>
                      <vue-timepicker v-if="input.inputType=='hour'"></vue-timepicker>
                      <div v-if="input.inputType=='date-hour'" style="display:inline-block;">
                        <datepicker></datepicker>
                        <vue-timepicker></vue-timepicker>
                      </div>
                      <input v-if="input.inputType=='cellphone'" type="text" placeholder="XXX-XXX-XX-XX">
                      <select v-if="input.inputType=='only-one'">
                        <option v-for="value in input.values" :value="value.key">{{value.value}}</option>
                      </select>
                      <span v-if="input.inputType=='multiple'">
                        <span style="padding-right:20px;" v-for="value in input.values"><input type="checkbox" :value="value.value">{{value.value}}</span>
                      </span>
                      <span v-if="input.inputType=='yes-no'">
                        <span style="padding-right:20px;"><input type="radio" :name="'n_'+input.id" value="true">{{input.yesText}}</span>
                        <span style="padding-right:20px;"><input type="radio" :name="'n_'+input.id" value="false">{{input.noText}}</span>
                      </span>
                      <span v-if="input.inputType=='gender'">
                        <span style="padding-right:20px;"><input type="radio" :name="'n_'+input.id" value="male">Masculino</span>
                        <span style="padding-right:20px;"><input type="radio" :name="'n_'+input.id" value="female">Femenino</span>
                      </span>
                      <!-- VUE BACKEND ELEMENT COMPONENT END -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="schema-block schema-header">
          <div class="schema-block-head">
            <h3 class="schema-block-title">
              <a href="/forms/elements/footer/<%= form.id %>/">Pie del formulario</a>
            </h3>
          </div>
          <div class="schema-block-content in" id="schema-header-content"><%- form.footer %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>