<!DOCTYPE html>
<html>
  <head>
    <title>App de seguimiento</title>

    <% /* Viewport tag for sensible mobile support */ %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <% /*
        Stylesheets
        ========================

        Stylesheets can be hard-coded as «link» tags, automatically injected
        by the asset pipeline between "STYLES" and "STYLES END", or both.
        (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Auto-injected «link» tags: */ %>
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/dependencies/font-awesome-4/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/pages/pretty-checkbox.min.css">
    <link rel="stylesheet" href="/styles/vue2-timepicker.min.css">
    <!--STYLES END-->
  </head>

  <body>
    <div id="page-wrap">
      <header id="page-header" class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between">
        <a class="navbar-brand mr-0" href="/">App de seguimiento</a>
        <div class="navbar-nav flex-row">
          <!-- LOGGED-IN NAVIGATION -->
          <% if(me) { %>
          <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/">Inicio</a>
          <% if(me.role==1) { %>
          <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/forms">Formularios</a>
          <!--a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/gallery">Galeria</a-->
          <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/users">Usuarios</a>
          <% } %>
          <% if(me.role==1||me.role==2) { %>
          <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/report">Reporte</a>
          <% } %>
          <% if(me.isSuperAdmin) { %>
          <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/roles">Roles</a>
          <% } %>
          <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/logout">Salir</a>
          <!-- Only in desktop nav -->
          <!--div class="nav-item dropdown d-none d-sm-block">
            <a class="nav-link dropdown-toggle" id="header-account-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta</a>
            <div class="dropdown-menu account-menu" aria-labelledby="header-account-menu-link">
              <a class="dropdown-item" href="/account">Settings</a>
              <a class="dropdown-item" href="/logout">Sign out</a>
            </div>
          </div-->
          <!-- Only in mobile nav -->
          <!--a class="nav-item nav-link ml-2 mr-2 d-block d-sm-none" href="/account">Account Settings</a-->
          <a class="nav-item nav-link ml-2 mr-2 d-block d-sm-none" href="/logout">Sign out</a>
          <% } else { %>
          <!-- LOGGED-OUT NAVIGATION -->
          <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="/login">Log in</a>
          <% } %>
        </div>
      </header>

      <!-- Alert if email has not been confirmed -->
      <% if(me&&me.emailChangeCandidate) { %>
      <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
        Your updated email address needs verification. Until you click the link sent to <strong><%= me.emailChangeCandidate %></strong>, you'll still need to sign in as <strong><%= me.emailAddress %></strong>.
        </div>
      </div>
      <% } else if(me&&me.emailStatus === 'unconfirmed') { %>
      <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
        Your email address still needs verification. Your account access may be limited until you click the link sent to <strong><%= me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress%></strong>.
        </div>
      </div>
      <% } %>

      <%- body %>

      <footer id="page-footer" class="navbar navbar-light justify-content-between flex-row-reverse">
        <div class="nav">
          <small class="nav-item"><a class="nav-link text-info" href="/contact">Contact<span class="d-none d-sm-inline"> us</span></a></small>
          <small class="nav-item"><a class="nav-link text-info" href="/legal/terms">Terms<span class="d-none d-sm-inline"> of Use</span></a></small>
          <small class="nav-item"><a class="nav-link text-info" href="/legal/privacy">Privacy<span class="d-none d-sm-inline"> policy</span></a></small>
          <% if(me) { %>
          <small class="nav-item"><a class="nav-link text-info" href="/logout">Sign out</a></small>
          <% } %>
        </div>
        <small class="copy">Copyright &copy; 2018 Bullmarketing. <br class="xs-only"/>All rights reserved.</small>
      </footer>
    </div>


    <% /*
      Client-side JavaScript
      ========================

      Scripts can be hard-coded as «script» tags, automatically injected
      by the asset pipeline between "SCRIPTS" and "SCRIPTS END", or both.
      (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Load Stripe Checkout */ %>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=6rvb9uwsc2fvh7f2z8iicugon50yneu5a2bce3734hl5tbsu"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpX9jy4ZXpulj4rKrOOODgFxAI-rxP88E&libraries=drawing" async defer></script>

    <% /* Auto-injected «script» tags: */ %>
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/bowser.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/dependencies/pretty-checkbox-vue.min.js"></script>
    <script src="/dependencies/RGraph.common.core.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/ajax-button.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/components/axios.min.js"></script>
    <script src="/js/components/modal.component.js"></script>
    <script src="/js/components/v-money.js"></script>
    <script src="/js/components/vue2-timepicker.js"></script>
    <script src="/js/components/vuejs-datepicker.min.js"></script>
    <script src="/js/utilities/open-stripe-checkout.js"></script>
    <script src="/js/utilities/RGraph/RGraph.bar.js"></script>
    <script src="/js/utilities/RGraph/RGraph.bipolar.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.annotate.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.context.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.csv.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.deprecated.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.dynamic.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.effects.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.key.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.resizing.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.sheets.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.tooltips.js"></script>
    <script src="/js/utilities/RGraph/RGraph.common.zoom.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.background.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.circle.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.image.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.marker1.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.marker2.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.marker3.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.poly.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.rect.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.text.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.xaxis.js"></script>
    <script src="/js/utilities/RGraph/RGraph.drawing.yaxis.js"></script>
    <script src="/js/utilities/RGraph/RGraph.fuel.js"></script>
    <script src="/js/utilities/RGraph/RGraph.funnel.js"></script>
    <script src="/js/utilities/RGraph/RGraph.gantt.js"></script>
    <script src="/js/utilities/RGraph/RGraph.gauge.js"></script>
    <script src="/js/utilities/RGraph/RGraph.hbar.js"></script>
    <script src="/js/utilities/RGraph/RGraph.hprogress.js"></script>
    <script src="/js/utilities/RGraph/RGraph.line.js"></script>
    <script src="/js/utilities/RGraph/RGraph.meter.js"></script>
    <script src="/js/utilities/RGraph/RGraph.modaldialog.js"></script>
    <script src="/js/utilities/RGraph/RGraph.odo.js"></script>
    <script src="/js/utilities/RGraph/RGraph.pie.js"></script>
    <script src="/js/utilities/RGraph/RGraph.radar.js"></script>
    <script src="/js/utilities/RGraph/RGraph.rose.js"></script>
    <script src="/js/utilities/RGraph/RGraph.rscatter.js"></script>
    <script src="/js/utilities/RGraph/RGraph.scatter.js"></script>
    <script src="/js/utilities/RGraph/RGraph.semicircularprogress.js"></script>
    <script src="/js/utilities/RGraph/RGraph.thermometer.js"></script>
    <script src="/js/utilities/RGraph/RGraph.vprogress.js"></script>
    <script src="/js/utilities/RGraph/RGraph.waterfall.js"></script>
    <script src="/js/pages/498.page.js"></script>
    <script src="/js/pages/account/account-overview.page.js"></script>
    <script src="/js/pages/account/edit-password.page.js"></script>
    <script src="/js/pages/account/edit-profile.page.js"></script>
    <script src="/js/pages/contact.page.js"></script>
    <script src="/js/pages/dashboard/welcome.page.js"></script>
    <script src="/js/pages/entrance/confirmed-email.page.js"></script>
    <script src="/js/pages/entrance/forgot-password.page.js"></script>
    <script src="/js/pages/entrance/login.page.js"></script>
    <script src="/js/pages/entrance/new-password.page.js"></script>
    <script src="/js/pages/entrance/signup.page.js"></script>
    <script src="/js/pages/faq.page.js"></script>
    <script src="/js/pages/forms/edit.page.js"></script>
    <script src="/js/pages/forms/elements/footer.page.js"></script>
    <script src="/js/pages/forms/elements/header.page.js"></script>
    <script src="/js/pages/forms/elements/main.page.js"></script>
    <script src="/js/pages/forms/elements/sections/inputs/new.page.js"></script>
    <script src="/js/pages/forms/elements/sections/new.page.js"></script>
    <script src="/js/pages/forms/list.page.js"></script>
    <script src="/js/pages/forms/new.page.js"></script>
    <script src="/js/pages/forms/routes/list.page.js"></script>
    <script src="/js/pages/forms/routes/new.page.js"></script>
    <script src="/js/pages/forms/users/main.page.js"></script>
    <script src="/js/pages/gallery/main.page.js"></script>
    <script src="/js/pages/homepage.page.js"></script>
    <script src="/js/pages/legal/privacy.page.js"></script>
    <script src="/js/pages/legal/terms.page.js"></script>
    <script src="/js/pages/report/main.page.js"></script>
    <script src="/js/pages/roles/list.page.js"></script>
    <script src="/js/pages/roles/new.page.js"></script>
    <script src="/js/pages/roles/permissions/main.page.js"></script>
    <script src="/js/pages/roles/permissions/new.page.js"></script>
    <script src="/js/pages/users/edit.page.js"></script>
    <script src="/js/pages/users/list.page.js"></script>
    <script src="/js/pages/users/new.page.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
