<div id="editUser">
  <div class="container">
    <h1 class="text-center">Editar usuario - <%= user.emailAddress %></h1>
    <div class="editUser-form">
      <ajax-form action="editUser" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Nombre</label>
          <input class="form-control" id="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Por favor ingrese el nombre completo.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Correo electr&oacute;nico</label>
          <input class="form-control" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor ingrese una direcci&oacute;n de correo electr&oacute;nico valida.</div>
        </div>
        <div class="form-group">
          <label for="role">Rol</label>
          <select class="form-control" id="role" v-model="formData.role">
            <% roles.forEach(function(role){ %>
              <option value="<%= role.id %>"><%= role.name %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Editar usuario</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
