<div id="listUsers">
  <div class="tableList">
    Usuarios
    <a class="btn btn-info" href="/users/new">Nuevo</a>
    <a class="btn btn-info" href="/users/export">Exportar</a>
    <table>
      <tbody>
        <tr>
          <th>
            Nombre
            <img class="sortByIcon" @click="sortTableBy('fullName')" :src="imgSortBy.fullName">
          </th>
          <th>
            Correo electr&oacute;nico
            <img class="sortByIcon" @click="sortTableBy('emailAddress')" :src="imgSortBy.emailAddress">
          </th>
          <th>
            Est&aacute; activo?
            <img class="sortByIcon" @click="sortTableBy('isActive')" :src="imgSortBy.isActive">
          </th>
          <th>
            Es super administrador?
            <img class="sortByIcon" @click="sortTableBy('isSuperAdmin')" :src="imgSortBy.isSuperAdmin">
          </th>
          <th>
            &Uacute;ltima actividad
            <img class="sortByIcon" @click="sortTableBy('lastSeenAt')" :src="imgSortBy.lastSeenAt">
          </th>
          <th>Acciones</th>
        </tr>
        <tr v-for="user in users">
          <td>{{user.fullName}}</td>
          <td>{{user.emailAddress}}</td>
          <td>
            <span v-if="user.isActive">Si</span>
            <span v-if="!user.isActive">No</span>
          </td>
          <td>
            <span v-if="user.isSuperAdmin">Si</span>
            <span v-if="!user.isSuperAdmin">No</span>
          </td>
          <td>{{user.lastSeenAtDate}}</td>
          <td class="actions">
            <table style="width:100%;">
              <tr>
                <td>
                  <a :href="'/users/edit/'+user.id"><img src="/images/edit.svg" style="width:20px;height:20px;"></a>
                </td>
                <td>
                  <a :href="'/users/pwd/'+user.id"><img src="/images/key.svg" style="width:20px;height:20px;"></a>
                </td>
                <td>
                  <a style="cursor:pointer;" @click="deleteUser(user.id)"><img src="/images/delete.svg" style="width:20px;height:20px;"></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>