<div id="welcome">
  <div class="container">
    <h1>Bienvenido!</h1>
    <hr/>
    <div id="map" style="height:500px;width:100%;<% if(me.role!=1) { %>display:none;<% } %>"></div>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
