<div id="listRoles">
  <div class="tableList">
    Roles
    <a class="btn btn-info" href="/roles/new">Nuevo</a>
    Permisos
    <a class="btn btn-info" href="/privileges/new">Nuevo</a>
    <table>
      <tbody>
        <tr>
          <th>
            Nombre
            <img class="sortByIcon" @click="sortTableBy('name')" :src="imgSortBy.name">
          </th>
          <th>
            Descripci&oacute;n
            <img class="sortByIcon" @click="sortTableBy('description')" :src="imgSortBy.description">
          </th>
          <th>Acciones</th>
        </tr>
        <tr v-for="role in roles">
          <td>{{role.name}}</td>
          <td>{{role.description}}</td>
          <td class="actions">
            <table style="width:100%;">
              <tr>
                <td>
                  <a :href="'/roles/edit/'+role.id"><img src="/images/edit.svg" style="width:20px;height:20px;"></a>
                </td>
                <td>
                  <a :href="'/roles/privileges/'+role.id"><img src="/images/key.svg" style="width:20px;height:20px;"></a>
                </td>
                <td>
                  <a :href="'/roles/delete/'+role.id"><img src="/images/delete.svg" style="width:20px;height:20px;"></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>