<div id="newRole">
  <div class="container">
    <h1 class="text-center">Nuevo Rol</h1>
    <div class="newRole-form">
      <ajax-form action="newRole" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input class="form-control" id="name" type="text"  :class="[formErrors.name ? 'is-invalid' : '']" v-model.trim="formData.name" placeholder="Nombre del rol" autocomplete="formName" focus-first>
          <div class="invalid-feedback" v-if="formErrors.name">Por favor ingrese el nombre del rol.</div>
        </div>
        <div class="form-group">
          <label for="description">Descripci&oacute;n</label>
          <textarea class="form-control" id="description" :class="[formErrors.description ? 'is-invalid' : '']" v-model.trim="formData.description" autocomplete="formDescription"></textarea>
        </div>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear rol</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
