<div class="menuColumnContainer" id="editRolePermissions">
  <div class="container">
    <h1 class="text-center"><%= role.name %></h1>
    <h1 class="text-center">Gesti&oacute;n de permisos</h1>
    <table class="assignmentTable">
      <thead>
        <tr>
          <th>Asignados</th>
          <th>&nbsp;</th>
          <th>Disponibles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul>
              <li v-for="(permission,index) in role.permissions">{{permission.name}} <span class="move" @click="removePermission(permission.id,index)">&gt;&gt;</span></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td>
            <ul>
              <li v-for="(permission,index) in permissions"><span class="move" @click="addPermission(permission.id,index)">&lt;&lt;</span> {{permission.name}}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>