<div class="menuColumnContainer">
  <%- partial('../menu.ejs') %>
  <div class="right">
    <div id="editForm">
      <div class="container">
        <h1 class="text-center">Editar formulario - <%= form.name %></h1>
        <div class="editForm-form">
          <ajax-form action="editForm" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">
            <input type="hidden" name="id">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input class="form-control" id="name" type="text"  :class="[formErrors.name ? 'is-invalid' : '']" v-model.trim="formData.name" placeholder="Nombre del formulario" autocomplete="formName" focus-first>
              <div class="invalid-feedback" v-if="formErrors.name">Por favor ingrese el nombre del formulario.</div>
            </div>
            <div class="form-group">
              <label for="description">Descripci&oacute;n</label>
              <textarea class="form-control" id="description" :class="[formErrors.description ? 'is-invalid' : '']" v-model.trim="formData.description" autocomplete="formDescription"></textarea>
            </div>
            <div class="form-group">
              <p-check class="p-switch p-fill" name="isActive" color="success" v-model="formData.isActive">Est&aacute; activo?</p-check>
            </div>
            <div class="form-group">
              <p-check class="p-switch p-fill" name="isPublic" color="success" v-model="formData.isPublic">Es p&uacute;blico?</p-check>
            </div>
            <div class="form-group">
              <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Guardar</ajax-button>
            </div>
          </ajax-form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>