<div class="menuColumnContainer" id="editFormUsers">
  <%- partial('../menu.ejs') %>
  <div class="right">
    <div class="container">
      <h1 class="text-center"><%= form.name %></h1>
      <h1 class="text-center">Gesti&oacute;n de usuarios</h1>
      <table class="assignmentTable">
        <thead>
          <tr>
            <th>Asignados</th>
            <th>&nbsp;</th>
            <th>Disponibles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul>
                <li v-for="(user,index) in form.users">{{user.emailAddress}} <span class="move" @click="removeUser(user.id,index)">&gt;&gt;</span></li>
              </ul>
            </td>
            <td>&nbsp;</td>
            <td>
              <ul>
                <li v-for="(user,index) in users"><span class="move" @click="addUser(user.id,index)">&lt;&lt;</span> {{user.emailAddress}}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>