<div id="signup" v-cloak>
  <div class="container" v-if="!cloudSuccess">
    <h1 class="text-center">Crear una cuenta</h1>
    <div class="signup-form">
      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Nombre</label>
          <input class="form-control" id="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Por favor ingrese su nombre completo.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Correo electro&oacute;nico</label>
          <input class="form-control" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor ingrese una direcci&oacute;n de correo electr&oacute;nico valida.</div>
        </div>
        <div class="form-group">
          <label for="password">Ingrese su nueva contrase&ntilde;a</label>
          <input class="form-control" id="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.password">Por favor ingrese una contrase&ntilde;a.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirme su nueva contrase&ntilde;a</label>
          <input class="form-control" id="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">Su contrase&ntilde;a y la confirmaci&oacute;n de su contrase&ntilde;a no coinciden.</div>
        </div>
        <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>Parece que ya existe una cuenta con su direcci&oacute;n de correo electr&oaucte;nico. Si olvid&oacute; su contrase&ntilde;a, puede recuperarla <a href="password/forgot">aqu&iacute;</a>.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Un error ocurri&oacute; mientras se procesaba su petici&oacute;n. Por favor verifique su informaci&oacute;n.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear cuenta</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
