<div id="listRoutes">
  <div class="tableList">
    Grupos de ruta
    <a class="btn btn-info" :href="'/forms/routes/new/'+form.id">Nuevo</a>
    <a class="btn btn-info" href="/forms/routes/export">Exportar</a>
    <table>
      <tbody>
        <tr>
          <th>
            C&oacute;digo
            <img class="sortByIcon" @click="sortTableBy('id')" :src="imgSortBy.id">
          </th>
          <th>
            Nombre
            <img class="sortByIcon" @click="sortTableBy('name')" :src="imgSortBy.name">
          </th>
          <th>
            Rutas
          </th>
          <th>Acciones</th>
        </tr>
        <tr v-for="routeGroup in form.routeGroups">
          <td>{{routeGroup.id}}</td>
          <td>{{routeGroup.name}}</td>
          <td>
            <table>
              <tr>
                <th>
                  C&oacute;digo
                </th>
                <th>
                  Nombre
                </th>
                <th>
                  Usuario
                </th>
                <th>
                  Est&aacute; Activa?
                </th>
                <th>Acciones</th>
              </tr>
              <tr v-for="route in routeGroup.routes">
                <td>{{route.id}}</td>
                <td>{{route.name}}</td>
                <td>{{route.userEmail}}</td>
                <td>
                  <span v-if="route.isActive">Si</span>
                  <span v-if="!route.isActive">No</span>
                </td>
              </tr>
            </table>
          </td>
          <td class="actions">
            <table style="width:100%;">
              <tr>
                <td>
                  <a :href="'/forms/routes/edit/'+form.id+'/'+routeGroup.id"><img src="/images/edit.svg" style="width:20px;height:20px;"></a>
                </td>
                <td>
                  <a @click="deleteRouteGroup(routeGroup.id)"><img src="/images/delete.svg" style="width:20px;height:20px;"></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>