<div id="newFormRoute" @keydown="teclaPresionada" @keyup="teclaLiberada" @mousedown="ratonPresionado" @drag="ratonArrastrado">
  <div class="container">
    <h1 class="text-center">Rutas - {{routeGroup.name}}</h1>
    <div class="newFormRoute-form">
      <div class="form-group">
        <label>{{routeGroup.description}}</label>
      </div>
      <div class="form-group">
        <label for="cvs">Seleccione un archivo con los posibles puntos de cada ruta a crear, cada vez que seleccione un archivo los puntos que contenga dicho archivo serán agregados al mapa, tenga en cuenta que cada vez que seleccione un archivo agregar&aacute; los puntos de ese archivo.</label>
        <input id="cvs" type="file" @change="loadCSV"/>
      </div>
      <div class="form-group" v-if="failedPlaces.length>0">
        <span><strong>Puntos cuya georeferenciaci&oacute;n fall&oacute;: </strong>{{failedPlaces.length}}</span>
        <table style="width:100%;">
          <thead>
            <tr>
              <th>Pais</th>
              <th>Departamento</th>
              <th>Ciudad</th>
              <th>Barrio</th>
              <th>Nombre</th>
              <th>Direcci&oacute;n</th>
              <th>Acci&oacute;n</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(place,index) in failedPlaces">
              <td>{{place.pais}}</td>
              <td>{{place.departamento}}</td>
              <td>{{place.ciudad}}</td>
              <td>{{place.barrio}}</td>
              <td>{{place.nombre}}</td>
              <td>{{place.direccion}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group" v-if="newLocations.length>0">
        <label for="registerLocation" style="color:red;">Existen algunas locaciones no registradas, si dichas locaciones en efecto son lugares reales y no hay errores de escritura puede registrarlas, de lo contrario revise el(los) archivo(s) subidos, cor&iacute;galos y vuelva a iniciar el proceso.</label>
        <ajax-button id="registerLocation" @click="registrarLocaciones" type="button" :syncing="syncing" class="btn-dark btn-lg btn-block">Registrar locaciones</ajax-button>
        <ul>
          <li v-for="(location,loIndex) in newLocations">{{location.pais}} - {{location.departamento}} - {{location.ciudad}} - {{location.barrio}}</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="cvs">Seleccionar en el mapa los puntos para la ruta, una vez este listo, diligencie la informaci&oacute;n de la ruta abajo.</label>
        <ajax-button id="cleanMapPlaces" @click="removeMapPlaces" type="button" :syncing="syncing" class="btn-dark btn-lg btn-block">Limpiar puntos</ajax-button></span>
        <div id="map" style="height:500px;width:100%;"></div>
      </div>
      <div class="form-group" v-if="selectedPlaces.length>0">
        <span><strong>Puntos ruta {{currentRoute}}: </strong>{{selectedPlaces.length}} <ajax-button id="cleanSelectedPlaces" @click="removeSelectedPlaces" type="button" :syncing="syncing" class="btn-dark btn-lg btn-block">Borrar todos</ajax-button></span>
        <table style="width:100%;">
          <thead>
            <tr>
              <th>Pais</th>
              <th>Departamento</th>
              <th>Ciudad</th>
              <th>Barrio</th>
              <th>Nombre</th>
              <th>Direcci&oacute;n</th>
              <th>Acci&oacute;n</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(place,index) in selectedPlaces">
              <td>{{place.pais}}</td>
              <td>{{place.departamento}}</td>
              <td>{{place.ciudad}}</td>
              <td>{{place.barrio}}</td>
              <td>{{place.nombre}}</td>
              <td>{{place.direccion}}</td>
              <td>
                <a style="cursor: pointer;" @click="removeSelectedPlace(place.indice,index)"><img src="/images/delete.svg" style="width:20px;height:20px;"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <label for="name">Nombre de la ruta</label>
        <input class="form-control" id="name" type="text" v-model.trim="currentRoute" placeholder="Nombre de la ruta" autocomplete="formName" focus-first>
        <label for="name">D&iacute;a en el que se debe realizar la ruta</label>
        <br/>
        <datepicker v-model="currentRouteDay" format="yyyy-MM-dd"></datepicker>
        <br/>
        <label for="user">Quien debe realizar la ruta {{currentRoute}}</label>
        <select class="form-control" id="user" :class="[formErrors.user ? 'is-invalid' : '']" v-model.trim="newRoute.user" autocomplete="formUser">
          <option v-for="(user,usrIndex) in users" :value="usrIndex">{{user.emailAddress}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Descripci&oacute;n de la ruta {{currentRoute}}</label>
        <textarea class="form-control" id="description" :class="[formErrors.description ? 'is-invalid' : '']" v-model.trim="newRoute.description" autocomplete="formDescription"></textarea>
      </div>
      <div class="form-group">
        <ajax-button @click="addRoute" type="button" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear ruta {{currentRoute}}</ajax-button>
      </div>
      <div class="form-group" v-if="formData.routes.length>0">
        <table style="width:100%;">
          <tr>
            <th>
              Nombre
            </th>
            <th>
              Usuario
            </th>
            <th>
              Fecha
            </th>
            <th>
              Puntos
            </th>
          </tr>
          <tr v-for="route in formData.routes">
            <td>{{route.name}}</td>
            <td>{{route.user.emailAddress}}</td>
            <td>{{route.day}}</td>
            <td>
              <span><strong>Total: </strong>{{route.places.length}}</span>
              <table style="width:100%;">
                <thead>
                  <tr>
                    <th>Pais</th>
                    <th>Departamento</th>
                    <th>Ciudad</th>
                    <th>Barrio</th>
                    <th>Nombre</th>
                    <th>Direcci&oacute;n</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(place,index) in route.places">
                    <td>{{place.pais}}</td>
                    <td>{{place.departamento}}</td>
                    <td>{{place.ciudad}}</td>
                    <td>{{place.barrio}}</td>
                    <td>{{place.nombre}}</td>
                    <td>{{place.direccion}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
