<div id="newFormRouteGroup">
  <div class="container">
    <h1 class="text-center">Nuevo grupo de rutas</h1>
    <div class="newFormRouteGroup-form">
      <ajax-form action="newFormRouteGroup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="name">Ingrese el nombre del grupo</label>
          <input class="form-control" id="name" type="text"  :class="[formErrors.name ? 'is-invalid' : '']" v-model.trim="formData.name" placeholder="Nombre del grupo" autocomplete="formName" focus-first>
          <div class="invalid-feedback" v-if="formErrors.name">Por favor ingrese el nombre del grupo de rutas.</div>
        </div>
        <div class="form-group">
          <label for="description">Ingrese la descripci&oacute;n del grupo</label>
          <textarea class="form-control" id="description" :class="[formErrors.description ? 'is-invalid' : '']" v-model.trim="formData.description" autocomplete="formDescription"></textarea>
        </div>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear grupo de rutas</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
