.img_button{
  cursor: pointer;
  width:16px;
  display: inline-block;
}

.tableList{
  padding:5px;
}
.tableList>table{
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
}
.tableList>table>tbody>tr>th{
  text-align:center;
}
.tableList>table>tbody>tr>td{
  text-align:center;
}
.tableList>table>tbody>tr>td.actions a>img{
  margin-left:auto;
  margin-right:auto;
}
.tableList>table { border-collapse: separate; }
.tableList>table>tbody>tr>td,.tableList>table>tbody>tr>th {
  border: solid 1px #CFDBE2;
}
.tableList>table>tbody>tr:first-child>th:first-child { border-top-left-radius: 10px; }
.tableList>table>tbody>tr:first-child>th:last-child { border-top-right-radius: 10px; }
.tableList>table>tbody>tr:last-child>td:first-child { border-bottom-left-radius: 10px; }
.tableList>table>tbody>tr:last-child>td:last-child { border-bottom-right-radius: 10px; }
.tableList>table>tbody>tr:nth-child(even)>td{
  background-color: #f9f9f9;
}
.tableList .sortByIcon{
  cursor:pointer;
  width:16px;
  height:16px;
  float:right;
}

.menuColumnContainer{
  height:100%;
  padding:0;
  margin:0;
  min-width: 300px;
}
.menuColumnContainer>.left {
  float:left;
  width: 204px;
  margin-right: -204px;
  height:100%;
  color: #e6e6e6;
  background: #212121;
}
.menuColumnContainer>.right {
  margin-left:204px;
}
.menuColumnContainer>.left>li{
  list-style:none;
}
.menuColumnContainer>.left>.nav-header{
  background: #000;
  color: #e6e6e6;
  text-transform: uppercase;
  font-size: 1.3em;
  text-shadow: none;
  margin: 0;
  padding-bottom: 8px;
  padding-top: 10px;
  font-weight: 700;
  padding-left:15px;
}
.menuColumnContainer>.left>.nav-item>a{
  font-size: .9em;
  padding: 8px 0 8px 8px;
  display: block;
  margin: 0;
  -webkit-transition: all .8s linear;
  -moz-transition: all .8s linear;
  -o-transition: all .8s linear;
  -ms-transition: all .8s linear;
  transition: all .8s linear;
  color: #e6e6e6;
  text-shadow: none;
  border-left: 2px solid #000;
}
.menuColumnContainer>.left>.nav-header>.subtitle{
  color: #D8D8D8;
  display: block;
  font-size: small;
  line-height: 1.1em;
}
.menuColumnContainer>.left>.nav-header>.subtitle.mini{
  font-size: 11px;
}

.schema-block {
  border: 1px dashed #ccc;
  padding: 10px;
  margin: 10px 0;
}
.schema-block .schema-block-head {
  height: 22px;
}
.schema-block .schema-block-head .schema-block-title {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.schema-block .schema-block-head .actions {
  display: none;
}

.survey-body-section {
  padding: 6px 8px;
  border: 1px solid #ccc;
  margin-bottom: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
}

.survey-body-section .schema-section-title {
  font-size: 12pt;
  margin: 2px 0;
  padding-bottom: 2px;
  min-height: 26px;
}

.help-block {
  margin-bottom: 0;
  color: #AAA;
  font-style: italic;
  font-weight: lighter;
}

.survey-body-section .schema-section-elements {
    border-top: 1px solid #ddd;
    padding-top: 2px;
}

.vdp-datepicker{
  display: inline-block;
}

#reporter .tableContainer table{
  width:100%;
}

#reporter .tableContainer table tr td{
  border-style: solid;
  border-width: 1px;
}

#reporter .tableContainer table tr:nth-child(odd) td{
  background-color:#cccccc;
}

#reporter .filterBox .filter .columns .columnCheck{
  border-style:solid;
  border-width:1px;
  margin-left:5px;
  padding:2px;
  margin:2px;
  display: inline-block;
}

#reporter .filterBox .filter .columns .columnCheck label{
  margin:0;
}

#reporter .reporterHeader{
  width:100%;
}

.assignmentTable{
  width: 100%;
}
.assignmentTable th{
  text-align: center;
}
.assignmentTable ul{
  list-style: none;
}
.assignmentTable ul li .move{
  cursor: pointer;
}
.assignmentTable ul li:hover .move{
  background-color: blue;
  color: white;
}

#gallery .galleryHeader{
  width:100%;
}

#gallery .galleryContent .galleryImage{
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: center;
}

#gallery .galleryContent .galleryImage img{
  height: auto; 
  width: auto; 
  max-width: 250px; 
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
}