<div id="gallery">
  <table class="galleryHeader">
    <tr>
      <td>
        <div class="filterBox">
          <div class="filter form-group">
            <label for="form">Formulario</label>
            <select v-model="selectedForm" class="form-control" @change="getImages">
              <option v-for="(form,formIndex) in forms" :value="formIndex">{{form.name}}</option>
            </select>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="galleryContent">
    <div class="galleryImage" v-for="(image,imgIndex) in images">
      <span>{{image.input.label}}</span>
      <img :src="image.value" />
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>