<div id="listForms">
  <div class="tableList">
    Formularios
    <a class="btn btn-info" href="/forms/new">Nuevo</a>
    <a class="btn btn-info" href="/forms/export">Exportar</a>
    <table>
      <tbody>
        <tr>
          <th>
            C&oacute;digo
            <img class="sortByIcon" @click="sortTableBy('id')" :src="imgSortBy.id">
          </th>
          <th>
            Nombre
            <img class="sortByIcon" @click="sortTableBy('name')" :src="imgSortBy.name">
          </th>
          <th>
            Versi&oacute;n actual
            <img class="sortByIcon" @click="sortTableBy('version')" :src="imgSortBy.version">
          </th>
          <th>
            Activo?
            <img class="sortByIcon" @click="sortTableBy('isActive')" :src="imgSortBy.isActive">
          </th>
          <th>
            &Uacute;ltima actualizaci&oacute;n
            <img class="sortByIcon" @click="sortTableBy('updatedAt')" :src="imgSortBy.updatedAt">
          </th>
          <th>Acciones</th>
        </tr>
        <tr v-for="form in forms">
          <td>{{form.id}}</td>
          <td>{{form.name}}</td>
          <td>{{form.version}}</td>
          <td>
            <span v-if="form.isActive">Si</span>
            <span v-if="!form.isActive">No</span>
          </td>
          <td>{{form.updatedAtDate}}</td>
          <td class="actions">
            <table style="width:100%;">
              <tr>
                <td>
                  <a :href="'/forms/edit/'+form.id"><img src="/images/edit.svg" style="width:20px;height:20px;"></a>
                </td>
                <td>
                  <a @click="deleteForm(form.id)"><img src="/images/delete.svg" style="width:20px;height:20px;"></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>