<div class="left">
  <li class="nav-header">
    Formulario
    <small class="subtitle mini">
      <%= form.name %>
    </small>
  </li>
  <li class="nav-item single ">
    <a href="/forms/edit/<%= form.id %>">Editar informaci&oacute;n general</a>
  </li>
  <li class="nav-item single ">
    <a href="/forms/elements/<%= form.id %>">Creaci&oacute;n de cuestionario</a>
  </li>
  <li class="nav-item single ">
    <a href="/forms/users/<%= form.id %>">Usuarios</a>
  </li>
  <li class="nav-item single ">
    <a href="/forms/routes/<%= form.id %>">Rutas</a>
  </li>
</div>