<table style="width:100%;">
  <tr>
    <td style="text-align: center;width:33.33%">
      <div>
        <h3><span><img></span>Básicos</h3>
        <ul style="list-style: none;padding:0;">
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/text">Entrada de texto</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/textarea">Area de texto</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/e-mail">Correo electrónico</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/number">Campo numérico</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/money">Campo moneda</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/address">Campo direcci&oacute;n</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/date">Campo de fecha</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/hour">Campo de hora</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/date-hour">Campo de fecha y hora</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/cellphone">Número de celular</a></li>
        </ul>
      </div>
    </td>
    <td style="text-align: center;width:33.33%">
      <div>
        <h3><span><img></span>De Selección</h3>
        <ul style="list-style: none;padding:0;">
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/only-one">Selección única</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/multiple">Selección multiple</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/yes-no">Sí/No</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/gender">Género</a></li>
          <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/ranking">Ranking</a></li>
        </ul>
      </div>
    </td>
    <td style="text-align: center;width:33.33%">
      <div>
        <div>
          <h3><span><img></span>Otros</h3>
          <ul style="list-style: none;padding:0;">
            <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/geolocation">Capturar geoposición</a></li>
            <li><a href="/forms/elements/sections/inputs/new/<%= form %>/<%= bodySection %>/photo">Capturar foto</a></li>
          </ul>
        </div>
      </div>
    </td>
  </tr>
</table>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
