<div id="newFormSectionInput">
  <div class="container">
    <h1 class="text-center">Nueva pregunta - <%
      switch(inputType){
        case 'text':%>Entrada de texto<% break;
        case 'textarea':%>Area de texto<% break;
        case 'e-mail':%>Correo electrónico<% break;
        case 'number':%>Campo numérico<% break;
        case 'money':%>Campo moneda<% break;
        case 'address':%>Campo direcci&oacute;n<% break;
        case 'date':%>Campo de fecha<% break;
        case 'hour':%>Campo de hora<% break;
        case 'date-hour':%>Campo de fecha y hora<% break;
        case 'cellphone':%>Número de celular<% break;
        case 'only-one':%>Selección única<% break;
        case 'multiple':%>Selección multiple<% break;
        case 'yes-no':%>Sí/No<% break;
        case 'gender':%>Género<% break;
        case 'ranking':%>Ranking<% break;
        case 'geolocation':%>Capturar geoposición<% break;
        case 'photo':%>Capturar foto<% break;
      }
    %></h1>
    <div class="newFormSectionInput-form">
      <ajax-form action="newFormSectionInput" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="label">Enunciado</label>
          <textarea class="form-control" id="label" type="text"  :class="[formErrors.label ? 'is-invalid' : '']" v-model.trim="formData.label" autocomplete="formLabel" focus-first></textarea>
          <div class="invalid-feedback" v-if="formErrors.label">Por favor ingrese el enunciado.</div>
        </div>
        <div class="form-group">
          <label for="help">Ayuda</label>
          <textarea class="form-control" id="help" :class="[formErrors.help ? 'is-invalid' : '']" v-model.trim="formData.help" autocomplete="formHelp"></textarea>
        </div>
        <div class="form-group">
          <p-check class="p-switch p-fill" color="success" v-model="formData.isRequired">Es requerido?</p-check>
        </div>
        <div class="form-group">
          <p-check class="p-switch p-fill" color="success" v-model="formData.includeInFilters">Incluir en reporteador?</p-check>
        </div>
        <% if (inputType=="date-hour"||inputType=="hour") {
          %>
          <div class="form-group">
            <p-check class="p-switch p-fill" color="success" v-model="formData.is12h">Formato AM/PM?</p-check>
          </div>
          <%
        } %>
        <% if (inputType=="text") {
          %>
          <div class="form-group">
            <label for="minLength">Longitud m&iacute;nima</label>
            <input class="form-control" id="minLength" type="text"  :class="[formErrors.minLength ? 'is-invalid' : '']" v-model.trim="formData.minLength">
          </div>
          <div class="form-group">
            <label for="maxLength">Longitud m&aacute;xima</label>
            <input class="form-control" id="maxLength" type="text"  :class="[formErrors.maxLength ? 'is-invalid' : '']" v-model.trim="formData.maxLength">
          </div>
          <%
        } %>
        <% if (inputType=="number"||inputType=="money") {
          %>
          <div class="form-group">
            <label for="minValue">
              <% switch (inputType) {
                case "number":
                case "money":
                %>
                Valor m&iacute;nimo
                <%
                break;
                case "date":
                case "date-hour":
                %>
                Fecha m&iacute;nima
                <%
                break;
              } %>
            </label>
            <input class="form-control" id="minValue" type="text"  :class="[formErrors.minValue ? 'is-invalid' : '']" v-model.trim="formData.minValue">
          </div>
          <div class="form-group">
            <label for="maxValue">
              <% switch (inputType) {
                case "number":
                case "money":
                %>
                Valor m&aacute;ximo
                <%
                break;
                case "date":
                case "date-hour":
                %>
                Fecha m&aacute;xima
                <%
                break;
              } %>
            </label>
            <input class="form-control" id="maxValue" type="text"  :class="[formErrors.maxValue ? 'is-invalid' : '']" v-model.trim="formData.maxValue">
          </div>
          <%
        } %>
        <% if (inputType=="only-one"||inputType=="multiple"||inputType=="yes-no"||inputType=="gender"||inputType=="ranking") {
          %>
          <div class="form-group">
            <label for="selectType">Tipo de campo</label>
            <select class="form-control" id="selectType" type="text"  :class="[formErrors.selectType ? 'is-invalid' : '']" v-model.trim="formData.selectType">
              <% if (inputType=="only-one"||inputType=="yes-no"||inputType=="gender"||inputType=="ranking") {
                %>
                <option value="select">Lista desplegable</option>
                <%
              } %>
              <option value="radio">
                <% switch (inputType) {
                  case "only-one":
                  case "yes-no":
                  case "gender":
                  case "ranking":
                  %>
                  Radio
                  <%
                  break;
                  case "multiple":
                  %>
                  Casilla de verificaci&oacute;n (checkbox)
                  <%
                  break;
                } %>
              </option>
            </select>
          </div>
          <%
        } %>
        <% if (inputType=="only-one"||inputType=="multiple") {
          %>
          <div class="form-group">
            <label for="optionOrigin">Origen de las opciones</label>
            <select class="form-control" id="optionOrigin" type="text"  :class="[formErrors.optionOrigin ? 'is-invalid' : '']" v-model.trim="formData.optionOrigin">
              <option value="manual">Manual</option>
              <option value="domain">Lista</option>
            </select>
          </div>
          <div class="form-group" v-if="formData.optionOrigin=='manual'">
            <a @click="addSelectOption" class="btn btn-info">Agregar opci&oacute;n</a>
            <table style="width:100%;">
              <tr>
                <th>Valor</th>
                <th>Etiqueta</th>
                <th>&nbsp;</th>
              </tr>
              <tr v-for="(selectOption,index) in formData.selectOptions">
                <td>
                  <input v-model="selectOption.key">
                </td>
                <td>
                  <input v-model="selectOption.value">
                </td>
                <td>
                  <a @click="removeSelectOption(index)"><img src="/images/delete.svg" style="width:20px;height:20px;"></a>
                </td>
              </tr>
            </table>
          </div>
          <div class="form-group" v-if="formData.optionOrigin=='domain'">
            <label for="domain">Lista</label>
            <select v-model="formData.domain">
              <option value="-1">-- Nueva lista --</option>
              <% domains.forEach(function(domain) { %>
                <option value="domain.id"><%= domain.name %></option>
              <% }); %>
            </select>
          </div>
          <div class="form-group" v-if="formData.optionOrigin=='domain'">
            <label for="newDomainName">Nombre de la lista</label>
            <input class="form-control" id="newDomainName" type="text"  :class="[formErrors.newDomainName ? 'is-invalid' : '']" v-model.trim="formData.newDomainName">
          </div>
          <div class="form-group" v-if="formData.optionOrigin=='domain'">
            <label for="newDomainDescription">Descripci&oacute;n de la lista</label>
            <textarea class="form-control" id="newDomainDescription" :class="[formErrors.newDomainDescription ? 'is-invalid' : '']" v-model.trim="formData.newDomainDescription" autocomplete="formHelp"></textarea>
          </div>
          <div class="form-group" v-if="formData.optionOrigin=='domain'&&formData.domain==-1">
            <a @click="addDomainOption" class="btn btn-info">Agregar opci&oacute;n</a>
            <table style="width:100%;">
              <tr>
                <th>Valor</th>
                <th>Etiqueta</th>
                <th>Descripci&oacute;n</th>
                <th>&nbsp;</th>
              </tr>
              <tr v-for="(newDomainOption,index) in formData.newDomainOptions">
                <td>
                  <input v-model="newDomainOption.key">
                </td>
                <td>
                  <input v-model="newDomainOption.value">
                </td>
                <td>
                  <textarea v-model="newDomainOption.description"></textarea>
                </td>
                <td>
                  <a @click="removeDomainOption(index)"><img src="/images/delete.svg" style="width:20px;height:20px;"></a>
                </td>
              </tr>
            </table>
          </div>
          <div class="form-group">
            <p-check class="p-switch p-fill" color="success" v-model="formData.canTypeOther">Campo 'Otro'</p-check>
          </div>
          <div class="form-group">
            <label for="labelCanTypeOther">Texto</label>
            <input class="form-control" id="labelCanTypeOther" type="text"  :class="[formErrors.labelCanTypeOther ? 'is-invalid' : '']" v-model.trim="formData.labelCanTypeOther">
          </div>
          <%
        } %>
        <% if (inputType=="yes-no") {
          %>
          <div class="form-group">
            <label for="yesText">Texto para la opción SI</label>
            <input class="form-control" id="yesText" type="text"  :class="[formErrors.yesText ? 'is-invalid' : '']" v-model.trim="formData.yesText">
          </div>
          <div class="form-group">
            <label for="noText">Texto para la opción NO</label>
            <input class="form-control" id="noText" type="text"  :class="[formErrors.noText ? 'is-invalid' : '']" v-model.trim="formData.noText">
          </div>
          <%
        } %>
        <% if (inputType=="ranking") {
          %>
          <div class="form-group">
            <label for="minStep">Ranking m&iacute;nimo</label>
            <input class="form-control" id="minStep" type="text"  :class="[formErrors.minStep ? 'is-invalid' : '']" v-model.trim="formData.minStep">
          </div>
          <div class="form-group">
            <label for="maxStep">Ranking m&aacute;ximo</label>
            <input class="form-control" id="maxStep" type="text"  :class="[formErrors.maxStep ? 'is-invalid' : '']" v-model.trim="formData.maxStep">
          </div>
          <div class="form-group">
            <label for="stepValue">Separaci&oacute;n entre rankings</label>
            <input class="form-control" id="stepValue" type="text"  :class="[formErrors.stepValue ? 'is-invalid' : '']" v-model.trim="formData.stepValue">
          </div>
          <%
        } %>
        <% if (inputType=="geolocation") {
          %>
          <div class="form-group">
            <p-check class="p-switch p-fill" color="success" v-model="formData.editableLocation">Posici&oacute;n editable?</p-check>
          </div>
          <%
        } %>
        <% if (inputType=="photo") {
          %>
          <div class="form-group">
            <label for="photoSource">Fuente</label>
            <select v-model="formData.photoSource">
              <option value="both">C&aacute;mara y Galer&iacute;a</option>
              <option value="camera">C&aacute;mara</option>
              <option value="gallery">Galer&iacute;a</option>
            </select>
          </div>
          <div class="form-group">
            <label for="imageQuality">Calidad de la imagen (%)</label>
            <input class="form-control" id="imageQuality" type="text"  :class="[formErrors.imageQuality ? 'is-invalid' : '']" v-model.trim="formData.imageQuality">
          </div>
          <%
        } %>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear elemento</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
